<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competición Deportiva</title>
    <link rel="stylesheet" th:href="@{/css/principal.css}">
</head>
<body>
    <header>
        <a href="https://blogsaverroes.juntadeandalucia.es/iestorrredelosguzmanes/" target="_blank">
			<img id="logo" th:src="@{/img/Diseño-sin-título.png}" alt="Logo">
        </a>
        <h1 id="titulo">COMPETICIÓN DEPORTIVA</h1>
        <div id="botones">
            <a href="./principal.html"><button>Inicio</button></a>
            <button onclick="window.history.back()">Atrás</button>
        </div>
    </header>

    <div id="contenido">
        <div class="tarjeta">
            <button class="boton-tarjeta">Label</button>
        </div>
        <div class="tarjeta">
            <a th:href="@{/pruebas}"><button class="boton-tarjeta">Registrar Prueba</button></a>
        </div>
        <div class="tarjeta">
            <button class="boton-tarjeta">Label</button>
        </div>
    </div>
</body>
</html>