<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Prueba - Competición Deportiva</title>
    <link rel="stylesheet" href="../CSS/principal.css">
    <link rel="stylesheet" href="../CSS/busqueda.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="https://blogsaverroes.juntadeandalucia.es/iestorrredelosguzmanes/" target="_blank">
            <img id="logo" src="../IMG/Diseño-sin-título.png" alt="Logo">
        </a>
        <h1 id="titulo">COMPETICIÓN DEPORTIVA</h1>
        <div id="botones">
            <a href="./principal.html"><button>Inicio</button></a>
            <button onclick="window.history.back()">Atrás</button>
        </div>
    </header>

    <div id="contenido-busqueda">
        <h1>Buscar Prueba a Modificar</h1>
        
        <div class="busqueda">
            <input type="text" id="input-busqueda" placeholder="Nombre de la prueba">
            <button id="boton-buscar">Buscar</button>
        </div>
    </div>
</body>
</html>